/*

filename: 

author: 

contributors: 

created: 09 September 2025

last modified: --- 

description: this file encapsulated all global styles 

*/


* { 
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/*Changes default browser margin & padding*/
body {
   margin: 0;
   padding: 0;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}