/*

filename: 

author: 

contributors: 

created: 09 September 2025

last modified: --- 

description: this file encapsulated all global styles 

*/


* { 
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/*Changes default browser margin & padding*/
body {
   margin: 0;
   padding: 0;
}

fieldset{
    display: block; 
    width: 50%;
    margin: auto;
}


