@media (max-width: 780px) {


  .navbar {
    height: 60px;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
    height: 100%;
    background-color: black;
    transition: right 0.3s ease;
    box-shadow: -5px 0 5px rgb(150, 150, 150, 0.3);
    padding-top: 5px;
  }

  .nav_links a,
  .nav_links .dropdown {
    color: white;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav_links a {
    padding: 20px 30px;
    border-radius: 0;
  }

  .nav_links .dropdown .dropdown_title {
    color: white;
    width: 100%;
    padding: 20px 30px;
    border-radius: 0;
    display: block;
  }

  .nav_links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }


  .dropdown_menu {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }


  .open_sidebar_btn,
  .close_sidebar_btn {
    display: block;
    padding: 20px;
  }


  #sidebar_active:checked~.nav_links {
    display: flex;
  }

  .form_container {
    width: 100%;
    box-shadow: none;
    box-sizing: boarder_box;
    padding: 1rem;
  }

  .box_input {
    width: 100%;
  }

  .body_apply {
    background-image: none
  }

  .wide_logo {
    display: none;
  }

  .short_logo {
    display: block;
    height: 30px;
  }

  .header_spacer {
    margin-top: 80px;
    padding: 0 1rem;
  }

  .page_title {
    font-size: 1.5rem;
  }

  .form_wrapper {
    padding: 0 0.5rem 2rem 0.5rem;
  }

  .form_container {
    box-shadow: none;
    padding: 1.5rem;
  }

  .body_apply {
    background-image: none;
  }

  .vertical_radio {
    column-count: 1;
  }

  .buttons_form {
    flex-direction: column;
    gap: 1rem;
  }

  .submit_btn,
  .reset_btn {
    width: 100%;
    padding: 1rem;
  }

}